---
title: ESCO вакансии
headerBG: img/vacancyBG.jpg
logoBG: img/logo_bg.svg
fix_nav_logo: img/fix_nav_logo.svg
logo: img/logo.svg
descrLogoBG: img/logo_descr_bg.svg
covervid1: img/134.mp4
covervid2: img/134.webm
modalBG: img/modal.jpg
footer_img: img/v_footer_img.png
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% include "sections/_v_header.html" %}
	{% include "sections/_v_vacancy_list.html" %}


	{% include "partials/_nav-menu.html" %}
	{% include "partials/_modal.html" %}
	{% include "partials/_fixed_nav.html" %}

{% endblock %}
