<footer class="section footer fp-auto-height">

	<!-- start container footer -->
	<div class="footer__container">

		<!-- start top footer -->
		<div class="footer__top">

			<!-- start footer mail & tel -->
			<div class="footer__contact">
				<a href="mailto:hr@esco.team">hr@esco.team {{mixins.icon('mail')}}</a>
				<a href="tel:+380935332431">{{mixins.icon('phone')}} +380 93 533 2431</a>
			</div>
			<!-- end footer mail & tel -->
			
			<!-- start footer call-back button -->
			<a href=".modal" class="js_main_modal footer__call-back js_value" data-form="секция контакты">Обратная связь {{mixins.icon('footer_arr')}}</a>
			<!-- end footer call-back button -->

			<!-- start button go-top -->
			<div class="footer__go-top js_scroll-top">подняться наверх {{mixins.icon('arrow_up')}}</div>
			<!-- end button go-top -->

		</div>
		<!-- end top footer -->
		
		<!-- start footer logo & place & socials -->
		<div class="footer__center">
			
			<!-- footer logo -->
			<div class="footer__logo">
				<a href="#">{{mixins.icon('footer_logo')}}</a>
			</div>
			<!-- end footer logo -->
			
			<!-- footer place text -->
			<div class="footer__place">
				<a href="#">
					{{mixins.icon('foote_map')}}
					<span>Киев, СТАРОКИЕВСКАЯ 10-Г</span><br>
					Бизнес центр «Вектор», корпус А
				</a>
			</div>
			<!-- end place text -->
			

			<!-- start socials -->
			<div class="footer__socials">
				<a href="#">{{mixins.icon('fb')}}</a>
				<a href="#">{{mixins.icon('vk')}}</a>
				<a href="#">{{mixins.icon('int')}}</a>
				<a href="#">{{mixins.icon('ok')}}</a>
			</div>
			<!-- end socials -->

		</div>
		<!-- end footer logo & place & socials -->

		<!-- footer copyrate -->
		<div class="footer__bottom">
			<p>© 2017 Esco <span>studio</span></p>
		</div>
		<!-- footer copyrate -->

	</div>
	<!-- end container footer -->

</footer>