<header class="head section">
	<div class="head__content">
	<div class="head__night days" style="background-image: url({{line_bg}}),url({{city_nightBG}}),url({{step_line}}),linear-gradient(to bottom, #008888, #174474);"></div>
	<div class="head__day days" style="background-image: url({{line_bg}}),url({{city_dayBG}}),url({{step_line}}),linear-gradient(to bottom, #006ACA, #A1EFE9);"></div>
	<div class="sun">
    <div class="ray_box">
        <div class="ray ray1"></div>
        <div class="ray ray2"></div>
        <div class="ray ray3"></div>
        <div class="ray ray4"></div>
        <div class="ray ray5"></div>
        <div class="ray ray6"></div>
        <div class="ray ray7"></div>
        <div class="ray ray8"></div>
        <div class="ray ray9"></div>
        <div class="ray ray10"></div>
    </div>
  </div>
	<div class="moon">
		<img src="{{moon}}" alt="moon icon">
	</div>
		
		<!-- START logo -->
		<div class="head__logo" style="background-image: url({{logoBG}});">
			<a href="http://esco.team"><img src="{{logo}}" alt="logotype ESCO"></a>
		</div>
		<!-- END logo -->
		
		<!-- START logo title text -->
		<div class="head__logo-descr" style="background-image: url({{descrLogoBG}});">
			<h1>
				ESCO - мультибрендовая Израильская компания.<br> 
				Основное направление которой,<br>
				продвижение товаров и услуг<br>
				на международной арене.
			</h1>
		</div>
		<!-- END logo title text -->
		
		<!-- START top contact & menu -->
		<div class="head__top">
			
			<a href=".nav" class="head__menu js_modal">
				menu
				<div class="head__menu__lines">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</a>

			<div class="head__contact">
				<a href="tel:+380935332431">+380 93 533 2431</a>
				<a href="tel:+380935332431"></a>
			</div>

		</div>
		<!-- END top contact & menu -->

		<section class="head__center">
			<div class="head__map">{{mixins.icon('map')}}<span>мы на карте</span></div>

			<h2 class="js-splitme">
	
				<span class="top_span sp">ПРИГЛАШАЕМ	</span><span class="sp">НА </span>РАБОТУ<br>
				<span class="dotline bottom_span"><span class="sp">С </span><span class="sp">ОПЫТОМ </span><span class="sp">И </span><span class="sp">БЕЗ </span></span>

			</h2>

			<h1>
				ESCO - мультибрендовая Израильская компания.<br> 
				Основное направление которой,<br>
				продвижение товаров и услуг<br>
				на международной арене.
			</h1>
		</section>
	</div>
</header>