<section class="people section">
	<div class="people__main">

		<h3><span>Для</span> кого?</h3>
		<div class="people__people">
			<div class="people__sun" style="background-image: url({{boys}});"></div>
			<p>Для людей с <span>амбициями</span></p>
			<p>
				Возможно<br> 
				<span>без опыта</span> работы
			</p>
			<p>
				Возрастом<br>
				от <span>16</span> до <span>60</span> лет
			</p>
			<p>
				Людям, которые хотят<br>
				<span>зарабатывать больше</span>
			</p>
		</div>
	</div>


	<div class="people__city">
		<div class="people__city__container">
			
			<!-- start parallax houses -->
			<div id="city_js_parallax" class="people__town">
				<div data-depth="0.6" class="people__city__first" style="background-image: url({{city1}});"></div>
				<div data-depth="0.4" class="people__city__third" style="background-image: url({{city1}});"></div>
				<div data-depth="0.3" class="people__city__four" style="background-image: url({{city4}});"></div>
				<div data-depth="0.7" class="people__city__five" style="background-image: url({{city5}});"></div>
				<div data-depth="0.9" class="people__city__six" style="background-image: url({{city5}});"></div>
				<div data-depth="0.9" class="people__city__seven" style="background-image: url({{city5}});"></div>
			</div>
			<!-- end parallax houses -->

			<!-- start metro -->
				<div class="metro" style="background-image: url({{metro}});"></div>
			<!-- end metro -->

			<!-- start walk guy -->
				<div class="walk">
					<div class="walk__men" style="background-image: url({{walk}});"></div>
				</div>
			<!-- end walk guy -->
			
			<!-- start road -->
			<div class="people__road" style="background-image: url({{road}});">
				<div class="people__traffic">

					<div class="people__car car1" style="background-image: url({{car}});">
						<div class="people__car__wheel"></div>
						<div class="people__car__wheel"></div>
					</div>

					<div class="people__car car2" style="background-image: url({{car}});">
						<div class="people__car__wheel"></div>
						<div class="people__car__wheel"></div>
					</div>

				</div>
			</div>
			<!-- end road -->


		</div>
	</div>
</section>