<section class="section photo">

		<div class="photo__container">
			<div class="slide" style="background-image: url({{slide1}});"></div>
			<div class="slide" style="background-image: url({{slide1}});"></div>
			<div class="photo__slider-buttons">
				<div class="photo__slide-right">
					{{mixins.icon('next')}}
				</div>
				<div class="photo__slide-left">
					{{mixins.icon('prev')}}
				</div>
			</div>
		</div>

		<div class="photo__content" style="background-image: url({{photoBG}});">
			<div class="photo__content-wrap">
				<h3>
					Хотите работать в <br> 
					<span>дружеской атмосфере?</span>
				</h3>

				<div class="photo__content__button">
					<a href=".modal" class="js_main_modal button js_value" data-form="секция фото">
						Присоединиться
						<div class="mask"></div>
					</a>
				</div>
			</div>
		</div>
	
</section>