<section class="steps section">
	<!-- wrapper start -->
	<div class="steps__wrapper">

	
		<!-- start content container -->
		<div class="steps__container">

			<!-- metro place start-->
			<div class="steps__metro" style="background-image: url({{rails}}), url({{stepBG}});">

				{{mixins.icon('metro_title')}}

				<div class="steps__steps">
					<div class="steps__text-container">
						
						<p>Оставляете заявку на сайте</p>
						<p>
							приходите к нам в офис <br>
							проходите собеседование
						</p>
						<p>
							проходите 2-х дневный инструктаж <br>
							за счет нашей компании
						</p>
						<p>
							начинаете <br>
							стажировку
						</p>
						<p>
							Становитесь полноценным <br>
							членом нашей команды <br>
							проффесионалов
						</p>
						<p>
							показываете высокие <br>
							результаты
						</p>
						<ul class="steps__numbers">
							<li><span>1</span></li>
							<li><span>2</span></li>
							<li><span>3</span></li>
							<li><span>4</span></li>
							<li><span>5</span></li>
							<li><span>6</span></li>
						</ul>
						<div class="steps__finish">
							<div>FIN&nbsp;&nbsp;SH</div>
							Вы успешный <span>руководитель</span><br>
							своего отдела <br>
							Вы финансово <span>независимы</span>
						</div>
					</div>
				</div>
				
				<!-- start train animated -->
					<div class="steps__train" style="background-image: url({{train}});"></div>
				<!-- end train animated -->

<!-- 				<div class="steps__line" style="background-image: url({{shema}});">
					
				</div> -->

			</div>
			<!-- metro place end-->


		</div>
		<!-- start content container -->

	</div>
	<!-- wrapper end -->
</section>