<section class="section train">
	<h3 class="train__title">Что Вы <span>получите?</span></h3>
	<div class="train__container">
		<div class="train__windows">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>

		<div class="train__people">
			<div id="train_js_parallax" class="train__people__parallax">
				<div data-depth="0.2" class="train__girl1" style="background-image: url({{train_girl1}});"></div>
				<div data-depth="0.5" class="train__girl2" style="background-image: url({{train_girl2}});"></div>
				<div data-depth="0.7" class="train__men" style="background-image: url({{train_men}});"></div>
			</div>
		</div>

		<div class="train__clouds__container">
			<div class="train__clouds">
				<div class="cloud1">Стабильную з/п</div>
				<div class="cloud2">
					Молодой<br>
					коллектив
				</div>
				<div class="cloud3">
					Карьерный<br>
					рост
				</div>
				<div class="cloud4">
					Удобный
					график
				</div>
				<div class="cloud9">
					Современный<br>
					офис
				</div>
				<div class="cloud5">
					Мотивирующие<br>
					денежные<br>
					вознаграждения
				</div>
				<div class="cloud6">
					Корпоративы<br>
					внутри компании
				</div>
				<div class="cloud7">
					Бесплатное<br>
					обучение
				</div>
				<div class="cloud8">
					Удобное<br>
					место положение
				</div>
			</div>
		</div>

		<a href=".modal" class="js_value js_main_modal train__button button" data-form="секция что вы получите">Отправить заявку<div class="mask"></div></a>

		<div class="train__track track1"></div>
		<div class="train__track track2"></div>
	</div>
</section>