<header class="head section vacancy">
	<div class="head__content">
		<!-- START logo -->
		<div class="head__logo" style="background-image: url({{logoBG}});">
			<a href="http://esco.team"><img src="{{logo}}" alt="logotype ESCO"></a>
		</div>
		<!-- END logo -->
		
		<!-- START logo title text -->
		<div class="head__logo-descr" style="background-image: url({{descrLogoBG}});">
			<h1>
				Компания ESCO – это компания в сфере<br>
				продвижения товаров и услуг <br>
				международных компаний.
			</h1>
		</div>
		<!-- END logo title text -->
		
		<!-- START top contact & menu -->
		<div class="head__top">
			<a href=".nav" class="head__menu js_modal">
				menu
				<div class="head__menu__lines">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</a>
		</div>
		<!-- END top contact & menu -->
		
		<div class="vacancy__button">
			<div class="vacancy__button__container">
				<a class="button js_scroll_city">Наши вакансии <div class="mask"></div></a>
				<a class="button js_main_modal js_value" href=".modal" data-form="первый екран">{{mixins.icon('pensil')}}Записаться на собеседование <div class="mask"></div></a>
			</div>
		</div>



	</div>

	<div class="vacancy__title-button js_scroll_city">
		виберите город
	</div>


	<div class="fullscreen-bg">
	    <video loop muted autoplay class="fullscreen-bg__video">
	        <source src="{{covervid1}}" type="video/mp4">
	        <source src="{{covervid2}}" type="video/webm">
	    </video>
	</div>


</header>