<section class="vacancy section">
	<div id="particles-js"></div>
	<div class="container">

		<div class="vacancy__top">

			<h3>
				Желаете, чтобы <span>успешная карьера</span><br>
				подружилась с Вами?
			</h3>

			<div class="vacancy__top__icon">
				<div class="icon_container">
					{{mixins.icon('chel')}}
					{{mixins.icon('fxa')}}
					{{mixins.icon('fxb')}}
					{{mixins.icon('fxc')}}
					{{mixins.icon('fxd')}}
					{{mixins.icon('fxf')}}
					{{mixins.icon('fxs')}}
				</div>
			</div>

			<div class="vacancy__top__buttons">
				
					<a class="button js_main_modal js_value" href=".modal" 
					data-form="секция вакансий">
							{{mixins.icon('pensil')}}
						<span class="button_text">
							Записаться на	<br> собеседование
						</span>
						<div class="mask"></div>
					</a>

				<a class="button" href="vacancy.html">
					{{mixins.icon('eye')}}
					<span class="button_text">
						Открытые ваканси
					</span>
					<div class="mask"></div>
				</a>

			</div>

		</div>
		<div class="vacancy__list">

			<a href="#" class="vacancy__item">
				<div class="vacancy__item__number">
					<span class="js_animate_vacancy" data-count="18"></span>
				</div>
				<div class="vacancy__item__icon">
					{{mixins.icon('phone_vacancy')}}
					<div id="scene" class="vacancy__item__circle par_1">
						<div data-depth="1" class="dashed"></div>
					</div>
				</div>
				<div class="vacancy__item__desr">
					Международные <br>
					мобильные операторы
				</div>
			</a>

			<a href="#" class="vacancy__item">
				<div class="vacancy__item__number">
					<span class="js_animate_vacancy" data-count="9"></span>
				</div>
				<div class="vacancy__item__icon">
					{{mixins.icon('tv_vacancy')}}
					<div class="vacancy__item__circle par_2">
						<div data-depth="1" class="solid"></div>
					</div>
				</div>
				<div class="vacancy__item__desr">
					Сфера телевидения и <br>
					интернет услуг
				</div>
			</a>

			<a href="#" class="vacancy__item">
				<div class="vacancy__item__number">
					<span class="js_animate_vacancy" data-count="11"></span>
				</div>
				<div class="vacancy__item__icon">
					{{mixins.icon('cosmetic_vacancy')}}
					<div class="vacancy__item__circle par_3">
						<div data-depth="1" class="dashed"></div>
					</div>
				</div>
				<div class="vacancy__item__desr">
					Консультации в сфере <br>
					косметологии
				</div>
			</a>

			<a href="#" class="vacancy__item">
				<div class="vacancy__item__number">
					<span class="js_animate_vacancy" data-count="16"></span>
				</div>
				<div class="vacancy__item__icon">
					{{mixins.icon('credit_vacancy')}}
					<div class="vacancy__item__circle par_4">
						<div data-depth="1" class="solid"></div>
					</div>
				</div>
				<div class="vacancy__item__desr">
					Помощь в кредитовании
				</div>
			</a>
		</div>

	</div>
</section>