<div class="fix_nav">
	<div class="fix_nav__container">

		<a href="http://esco.team/" class="fix_nav__logo">
			<img src="{{fix_nav_logo}}" alt="ESCO team logo">
		</a>

		<a class="fix_nav__button button js_main_modal js_value" href=".modal" 
			data-form="секция вакансий">
					{{mixins.icon('pensil')}}
				<span class="button_text">
					Записаться на собеседование
				</span>
		</a>

		<div class="head__contact">
			<a href="tel:+380935332431">+380 93 533 2431</a>
			<a href="tel:+380935332431"></a>
		</div>

		<a href=".nav" class="head__menu js_modal">
			menu
			<div class="head__menu__lines">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</a>

	</div>
</div>