<ul class="nav js_nav-menu zoom-anim-dialog mfp-hide">

	<li class="button active" data-menuanchor="main">
		<a href="index.html#main">Главная</a>
		<div class="mask"></div>
	</li>

	<li class="button" data-menuanchor="vacancy">
		<a href="index.html#vacancy">Вакансии и направления</a>
		<div class="mask"></div>
	</li>

	<li class="button" data-menuanchor="people">
		<a href="index.html#people">Для кого</a>
		<div class="mask"></div>
	</li>

	<li class="button" data-menuanchor="steps">
		<a href="index.html#steps">Карьера</a>
		<div class="mask"></div>
	</li>

	<li class="button" data-menuanchor="train">
		<a href="index.html#train">Что вы получите</a>
		<div class="mask"></div>
	</li>

	<li class="button" data-menuanchor="photo">
		<a href="index.html#photo">Работать с нами</a>
		<div class="mask"></div>
	</li>

	<li class="button" data-menuanchor="maps">
		<a href="index.html#maps">Контакты</a>
		<div class="mask"></div>
	</li>

</ul>