<ul class="js_jobs_kherson vlist__vacancys">

	<!-- START JOB -->
		<li>
			Менеджер по продажам в call-centre
			<div class="vlist__buttons">
				<a class="js_show_job">подробнее</a>
				<a class="js_main_modal js_value" data-form="Менеджер по продажам 1" href=".modal">Записаться</a>
			</div>
			<ul class="job">

				<!-- start job title -->
				<li>
					<div class="job__title">
						СОДЕРЖАНИЕ РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>
							продажа услуг компании;
						</p>
						<p>
							совершение звонков по предоставляемой базе.
						</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- start job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ТРЕБОВАНИЯ К КАНДИДАТАМ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>
							исходящие звонки по существующей базе;
						</p>
						<p>
							привлечение клиентов, сопровождение сделок;
						</p>
						<p>
							продажа продуктов и услуг компании.
						</p>
						<span>Требования:</span>
						<p>Парни и девушки;</p>
						<p>пунктуальность;</p>
						<p>грамотная русская речь;</p>
						<p>ответственность;</p>
						<p>коммуникабельность;</p>
						<p>высокая мотивация;</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ГРАФИК РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>работа в офисе с 10.00 до 18.00, есть почасовая занятость для студентов от 3-х часов в режиме с 9.00 до 21.00 график выбираете сами!</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОБУЧЕНИЕ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Компания гарантирует БЕСПЛАТНОЕ обучение продажам в международной компании.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОПЛАТА ТРУДА
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>5000 грн + бонусы.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

			</ul>
		</li>
		<!-- END JOB -->
		
</ul>