	<ul class="js_jobs_odessa vlist__vacancys">

<!-- START JOB -->
		<li>
			Менеджер по продажам, по работе с клиентами
			<div class="vlist__buttons">
				<a class="js_show_job">подробнее</a>
				<a class="js_main_modal js_value" data-form="Менеджер по продажам 1" href=".modal">Записаться</a>
			</div>
			<ul class="job">

				<!-- start job title -->
				<li>
					<div class="job__title">
						СОДЕРЖАНИЕ РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>
							В связи с активным развитием израильская международная компания «ESCO» проводит набор на должность «менеджер по продажам» в сфере телекоммуникаций.
						</p>
						<p>
							Если Вы умеете привлечь к себе внимание, а общение и умение заинтересовать любого человека Ваше жизненное кредо, то Вам прямая дорога в продажи!
						</p>
						<p>
							Именно наша компания не только раскроет все Ваши умения, но и поможет применить их на практике!
						</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- start job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ТРЕБОВАНИЯ К КАНДИДАТАМ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<span>Требования:</span>
						<p>
							образование: неполное высшее/высшее;
						</p>
						<p>
							навыки работы с ПК;
						</p>
						<p>
							желание обучаться, активно работать и зарабатывать;
						</p>
						<p>
							грамотная речь и четкая дикция;
						</p>
						<p>
							нацеленность на результат.
						</p>
						<span>Обязанности:</span>
						<p>продажа продуктов и услуг компании-телекоммуникации;</p>
						<p>совершение исходящих звонков по клиентской базе;</p>
						<p>сопровождение продаж;</p>
						<p>взаимодействие с клиентами, консультация по телефону.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ГРАФИК РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>График с 11 до 19, пятница с 9 до 15.</p>
						<p>В месяц 23 рабочих дня (есть рабочие воскресенья).</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОБУЧЕНИЕ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Компания гарантирует БЕСПЛАТНОЕ обучение продажам в международной компании.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОПЛАТА ТРУДА
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>15000 грн.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

			</ul>
		</li>
		<!-- END JOB -->


	</ul>