	<ul class="js_jobs_kiev vlist__vacancys active">

		<!-- START JOB -->
		<li>
			Менеджер по продажам
			<div class="vlist__buttons">
				<a class="js_show_job">подробнее</a>
				<a class="js_main_modal js_value" data-form="Менеджер по продажам 1" href=".modal">Записаться</a>
			</div>
			<ul class="job">

				<!-- start job title -->
				<li>
					<div class="job__title">
						СОДЕРЖАНИЕ РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Если Вы только начинаете свою карьеру — начните ее вместе с нами!</p>
						<p>Если Вы уже профи — зарабатывайте и развивайтесь вместе с нами!</p>
						<span>Функциональные обязанности:</span>
						<p>продажа услуг компании;</p>
						<p>совершение звонков по предоставляемой базе.</p>
						<span>Требования к кандидату:</span>
						<p>Ориентация на результат, коммуникабельность и умение вести переговоры, стрессоустойчивость;</p>
						<p>Опыт работы в продажах;</p>
						<p>Высокая сила убеждения;</p>
						<p>Нацеленность на результат.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- start job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ТРЕБОВАНИЯ К КАНДИДАТАМ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>
							Парни и девушки умение и желание работать в команде пунктуальность грамотная русская речь ответственность коммуникабельность высокая мотивация;
						</p>
						<p>
							Мы предлагаем работу в молодом дружном коллективе, в динамично развивающейся компании;
						</p>
						<p>
							Возможность карьерного и личностного роста, реализацию своих идей;
						</p>
						<p>
							С ростом ваших навыков мы гарантируем и рост оплаты вашего труда.
						</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ГРАФИК РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Лояльный график с 11.00 до 19.00</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОБУЧЕНИЕ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Компания гарантирует БЕСПЛАТНОЕ обучение продажам в международной компании.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОПЛАТА ТРУДА
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Своевременную оплату труда (ставка 7000 грн + бонусы). Средняя зарплата 12000 грн.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

			</ul>
		</li>
		<!-- END JOB -->

		<!-- START JOB -->
		<li>
			Менеджер по продажам
			<div class="vlist__buttons">
				<a class="js_show_job">подробнее</a>
				<a class="js_main_modal js_value" data-form="Менеджер по продажам 2" href=".modal">Записаться</a>
			</div>
			<ul class="job">

				<!-- start job title -->
				<li>
					<div class="job__title">
						СОДЕРЖАНИЕ РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>опыт работы в продажах от 3-х лет;</p>
						<p>большую любовь к продажам;</p>
						<p>огромное желание зарабатывать много денег;</p>
						<p>целеустремленность (и это не просто слова);</p>
						<p>высокая самооценка и самоорганизация;</p>
						<p>командный дух и мега коммуникабельность.</p>
						<span>Что ты будешь делать:</span>
						<p>изучать продукт (с ним ты можешь ознакомиться на <a target="_blank" href="http://maxtv.co.il/">http://maxtv.co.il</a>)</p>
						<p>мы предоставляем базу клиентов. Нужно, чтобы каждый из этой базы стал НАШИМ клиентом;</p>
						<p>работа в CRM системе.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- start job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ТРЕБОВАНИЯ К КАНДИДАТАМ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>
							грамотная речь;
						</p>
						<p>
							обучаемость;
						</p>
						<p>
							позитивное мышление;
						</p>
						<p>
							Парни и девушки от 20 до 35.
						</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ГРАФИК РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Привлекательный график с 11.00 до 19.00</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОБУЧЕНИЕ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Компания гарантирует БЕСПЛАТНОЕ обучение продажам в международной компании.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОПЛАТА ТРУДА
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Фиксированная ставка 10000 грн+бонусы+премии. В среднем 20000 гривен.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

			</ul>
		</li>
		<!-- END JOB -->

		<!-- START JOB -->
		<li>
			Оператор в Call-centre
			<div class="vlist__buttons">
				<a class="js_show_job">подробнее</a>
				<a class="js_main_modal js_value" data-form="Менеджер по продажам 1" href=".modal">Записаться</a>
			</div>
			<ul class="job">

				<!-- start job title -->
				<li>
					<div class="job__title">
						СОДЕРЖАНИЕ РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>грамотная русская речь, умение расположить к себе человека и позитивный настрой;</p>
						<p>огромное желание работать и зарабатывать;</p>
						<p>умение ставить цели и достигать их.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- start job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ТРЕБОВАНИЯ К КАНДИДАТАМ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>
							Парни и девушки умение и желание работать в команде пунктуальность грамотная русская речь ответственность коммуникабельность высокая мотивация.
						</p>
						<span>Обязанности:</span>
						<p>
							Звонки по существующей клиентской базе;
						</p>
						<p>
							Активное продвижение услуг компании (исходящие звонки);
						</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ГРАФИК РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Гибкий  график!</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОБУЧЕНИЕ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Компания гарантирует БЕСПЛАТНОЕ обучение продажам в международной компании.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОПЛАТА ТРУДА
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>10000 грн.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

			</ul>
		</li>
		<!-- END JOB -->

		<!-- START JOB -->
		<li>
			Офис-менеджер по работе с документами со знанием иврита
			<div class="vlist__buttons">
				<a class="js_show_job">подробнее</a>
				<a class="js_main_modal js_value" data-form="Менеджер по продажам 1" href=".modal">Записаться</a>
			</div>
			<ul class="job">

				<!-- start job title -->
				<li>
					<div class="job__title">
						СОДЕРЖАНИЕ РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Введение сделок в базу данных, общение на иврите с клиентами компании по нюансам проведения сделки.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- start job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ТРЕБОВАНИЯ К КАНДИДАТАМ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>
							Знание иврита разговорного и письменного.
						</p>
						<p>
							Усидчивость.
						</p>
						<p>
							Внимательность.
						</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ГРАФИК РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>График с 11 до 19, пятница с 9 до 15.</p>
						<p>В месяц 23 рабочих дня (есть рабочие воскресенья).</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОБУЧЕНИЕ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Компания гарантирует БЕСПЛАТНОЕ обучение продажам в международной компании.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОПЛАТА ТРУДА
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>15000 грн.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

			</ul>
		</li>
		<!-- END JOB -->

	</ul>