	<ul class="js_jobs_kharkiv vlist__vacancys">


<!-- START JOB -->
		<li>
			Менеджер по продажам телекоммуникаций
			<div class="vlist__buttons">
				<a class="js_show_job">подробнее</a>
				<a class="js_main_modal js_value" data-form="Менеджер по продажам 1" href=".modal">Записаться</a>
			</div>
			<ul class="job">

				<!-- start job title -->
				<li>
					<div class="job__title">
						СОДЕРЖАНИЕ РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>
							В связи с активным развитием израильская международная компания «ESCO» проводит набор на должность «менеджер по продажам» в сфере телекоммуникаций.
						</p>
						<p>
							Если Вы умеете привлечь к себе внимание, а общение и умение заинтересовать любого человека Ваше жизненное кредо, то Вам прямая дорога в продажи!
						</p>
						<p>
							Именно наша компания не только раскроет все Ваши умения, но и поможет применить их на практике!
						</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- start job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ТРЕБОВАНИЯ К КАНДИДАТАМ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<span>Если Вы обладаете такими качествами как:</span>
						<p>
							мотивация к карьерному и личностному росту;
						</p>
						<p>
							амбициозность и самоуверенность;
						</p>
						<p>
							коммуникабельность;
						</p>
						<p>
							умение убеждать;
						</p>
						<p>
							желание зарабатывать.
						</p>
						<span>Обязанности:</span>
						<p>сходящие звонки по существующей базе;</p>
						<p>привлечение клиентов, сопровождение сделок;</p>
						<p>продажа продуктов и услуг компании.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->
				
				<!-- start job title -->
				<li>
					<div class="job__title">
						ГРАФИК РАБОТЫ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Удобный рабочий график с 12.00 до 20.00, а также возможность работать почасово!</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОБУЧЕНИЕ
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Компания гарантирует БЕСПЛАТНОЕ обучение продажам в международной компании.</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

				<!-- start job title -->
				<li>
					<div class="job__title">
						ОПЛАТА ТРУДА
					</div>
					<!-- start job decription -->
					<div class="job__decription">
						<p>Фиксированная ставка + бонусы в $ от продаж, оплачиваемая стажировка, на выходе от 7000 грн в месяц. Своевременная выплата з\п</p>
					</div>
					<!-- end job decription -->
				</li>
				<!-- end job title -->

			</ul>
		</li>
		<!-- END JOB -->

	</ul>