.icon-arrow_up {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-chel {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-cosmetic_vacancy {
  width: 0.74em;
  height: 1em;
  fill: initial;
}
.icon-credit_vacancy {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1.77em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.icon-footer_arr {
  width: 1.41em;
  height: 1em;
  fill: initial;
}
.icon-footer_logo {
  width: 1.51em;
  height: 1em;
  fill: initial;
}
.icon-foote_map {
  width: 0.67em;
  height: 1em;
  fill: initial;
}
.icon-fxa {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-fxb {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-fxc {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fxd {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fxf {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-fxs {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-int {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.icon-map {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-metro_title {
  width: 1.47em;
  height: 1em;
  fill: initial;
}
.icon-next {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-ok {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-pensil {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone_vacancy {
  width: 0.65em;
  height: 1em;
  fill: initial;
}
.icon-prev {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-tv_vacancy {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
